/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

.logo, .home .hero img
  max-width 450px!important
  // https://codepen.io/sosuke/pen/Pjoqqp
  filter invert(52%) sepia(65%) saturate(366%) hue-rotate(101deg) brightness(98%) contrast(91%)

.green-img
  filter: invert(52%) sepia(65%) saturate(366%) hue-rotate(101deg) brightness(98%) contrast(91%);

// VIDEO
.embed-responsive
  position relative
  display block
  width 100%
  padding 0
  overflow hidden
  &::before
    display block
    content ""

.embed-responsive .embed-responsive-item,
.embed-responsive iframe,
.embed-responsive embed,
.embed-responsive object,
.embed-responsive video
  position absolute
  top 0
  bottom 0
  left 0
  width 100%
  height 100%
  border 0

.embed-responsive-21by9
  &::before
    padding-top 42.857143%

.embed-responsive-16by9
  &::before
    padding-top 56.25%

.embed-responsive-4by3
  &::before
    padding-top 75%

.embed-responsive-1by1
  &::before
    padding-top 100%

// COLUMNS
.custom-block
  &.col-wrapper
    @media (min-width: 992px)
      &
        display flex

  &.col-full
    width 100%

    @media (min-width: 992px)
      &
        flex 0 0 100%
        max-width 100%

  &.col-half
    width 100%

    @media (min-width: 992px)
      &
        flex 0 0 50%
        max-width 50%

  &.col-third
    width 100%

    @media (min-width: 992px)
      &
        flex 0 0 33.333333%
        max-width 33.333333%
