// place your custom styles here
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;600;700&display=swap');
html,
body {
  font-family: 'Space Grotesk', sans-serif;
}

.site-name,
.vp-site-name {
  color: #fff !important;
}

.navbar,
.vp-navbar {
  background: rgba(0, 0, 0, 0.7);
  backdrop-filter: none;
}

.logo,
.vp-nav-logo {
  height: 38px !important;
  margin-top: 14px;
}

.dropdown-wrapper .dropdown-title {
  color: white;
}

.toggle-navbar-button,
.vp-toggle-navbar-button {
  .button-top,
  .button-bottom,
  .button-middle,
  .vp-top, .vp-middle, .vp-bottom {
    background-color: white;
  }
}
.dropdown-wrapper .dropdown-title .arrow {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'><path fill='rgba(255,255,255,1)' d='M7.41 15.41L12 10.83l4.59 4.58L18 14l-6-6-6 6z'/></svg>");
}

.navbar .nav-item > .nav-link,
.vp-navbar .nav-item > .nav-link {
  color: white;
}

.theme-container .page, .theme-container .vp-page {
  padding-top: calc(var(--navbar-height) + 50px);
}

.theme-container .sidebar {
  // top: calc(var(--navbar-height) + 50px);
}

.footer-wrapper, .vp-footer-wrapper {
  background: black;
  color: white;
}

.toggle-sidebar-button .icon, .vp-toggle-sidebar-button .icon {
  background: white !important;
}
.toggle-sidebar-button::before, .vp-toggle-sidebar-button::before {
  background: white;
}
.toggle-sidebar-button::after, .vp-toggle-sidebar-button::after {
  background: white;
}

.repo-link, .vp-repo-link {
  color: #fff !important;
}
