// you can change colors here
//$theme-color: #5FFF00;
$theme-color: #10e80c;
$navbar-height: 88px;
$navbar-mobile-height: 88px;
$font-family: 'Space Grotesk', sans-serif;
$font-family-heading: 'Space Grotesk', sans-serif;
